<div class="card-tweet">
  <div class="principal-card">
    <div>
      <%= link_to user_path(tweet.user) do %>
        <%= image_tag (tweet.user.avatar.attached? ? tweet.user.avatar : "user-default.png"), class: "image-card" %>
      <% end %>
    </div>
    <div>
      <div>
        <%= link_to tweet.user.name, tweet_path(tweet.user), class: "inter" %>
      </div>
      <div>
        <%= content_tag(:small, time_ago_in_words(tweet.updated_at), class: "message-time") %>
      </div>
    </div>
    <div>
      <span class= "card-username">@<%= tweet.user.username %></span>
    </div>
  </div>
  <div>
    <p class= "card-tweet" ><%= tweet.body %></p>
  </div>
  <div class="icons-card">
  <% if current_user && policy(User).update? || current_user && current_user.id == tweet.user_id %>
    <div class="icon-card-left">
      <div>
        <%= link_to edit_tweet_path(tweet) do %>
          <%= image_tag "Edit.svg", class: :ico %>
        <% end %>
      </div>
      <div>
        <%= link_to image_tag("Trash.svg") , tweet_path(tweet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
    </div>
  <% end %>
  <div class="icon-card-right">
    <div class="icon-card-left">
      <div>
        <%= link_to tweet_path(tweet) do %>
          <%= image_tag "Message.svg", class: :ico %>
        <% end %>
      </div>
      <div>
        <span><%= tweet.replied_to.count %></span>
      </div>
    </div>
    <div class="icon-card-left">
      <% if current_user %>
        <% if Like.find_by(tweet_id: tweet.id, user_id: current_user.id) %>
          <div>
            <%= link_to image_tag("Like.svg"), like_path(id: tweet.id ), data: {turbo_method: :delete} %>
          </div>
        <% else %>
          <div>
            <%= link_to image_tag("Unlike.svg"), like_path(id: tweet.id ), data: {turbo_method: :delete} %>
          </div>
        <% end %>
      <% else %>
        <div>
          <%= link_to image_tag("Unlike.svg"), like_path(id: tweet.id ), data: {turbo_method: :delete} %>
        </div>
      <% end %>
      <div>
        <span><%= tweet.likes.count %></span>
      </div>
    </div>
  </div>
</div>
</div>
